.first{
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem;

    .imagecontainer{
        height: 35%;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            background-size: cover;
            border-radius: .5rem;
        }
    }
    .studio{
        height: 75%;
        width: 100%;
        background-color: #1e1e1e;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        p{
            color: #fff;
            font-size: 1rem;
            font-family:"Roboto";
        }
        .bottom{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                color: #fff;
                font-size: 2.8rem;
                font-weight: 300;
                line-height: 1.2;
                font-family:"Chillax";
                text-transform: uppercase;
            }
            p{
                color:#666664;
                font-family: 'Roboto';
                line-height: 1.5;
            }
            .button{
                display: flex;
                align-items: center;
                gap: 1rem;
                button{
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid white;
                    padding: .8rem;
                    i{
                        color: white;
                    }

                }
                p{
                    color:white;
                }


            }
        }


    }
}
