.fourth{
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem;
    .upper{
        height: 30%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            background-size: cover;
            border-radius: .5rem;
        }
    }
    .bottom{
        height: 75%;
        width: 100%;
        background-color: #1e1e1e;
        padding: 1rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
             color: #fff;
            font-size: 1rem;
            font-family:"Roboto";
        }

        .vision{
            display: flex;
            flex-direction: column;
            gap: 1rem;


            h2{
                font-size: 2.8rem;
                font-weight: 300;
                font-family:"Chillax";
                text-transform: uppercase;
                color: white;
            }
            p{
                font-size: 1rem;
                font-family:"Roboto";
                line-height: 1.5;

                color:#666664;
            }
        }
    }

}
