
.last{
    height: 250%;
    width: 100%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .uppercontainer
    {
        border-radius: .5rem;
        height: 15%;
        width: 100%;
        padding:2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #1e1e1e;

        p{
            font-size: 1.5rem;
            font-weight: 400;
            font-family:"Roboto";
            color: white;
        }
        .upper{
            display: flex;
            gap: 1rem;

            i{
                color: white;
                background-color: black;
                padding: 1rem;
                border-radius: 50%;
                border: 1px solid white;
                background-color: #333333;
                // backdrop-filter: blur(10px);
                font-size: 1.2rem;
            }
        }


    }
    .middlecontainer{
        height: 65%;
        width: 100%;
        background-color: #1e1e1e;
        border-radius: .5rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        p{
            font-size: 2rem;
            font-weight: 400;
            font-family:"Chillax";
            color: white;
        }
        ul{
            list-style: none;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            li{
                color: #5f5e5d;
                font-size: 1.2rem;
                font-weight: 600;
                font-family:"Roboto";

            }
        }
        button{
            background-color: #cebd63;
            color: black;
            padding: 1rem 1rem;
            width: 15rem;
            border-radius: .5rem;
            text-transform: uppercase;
            font-family: "Roboto";
            font-size: 1rem;
        }
    }
    .bottomContainer{
        height:15%;
        width: 100%;
        background-color: #1e1e1e;
        border-radius: .5rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        p{
            font-size: 1.2rem;
            font-weight: 400;
            font-family:"Roboto";
            color: white;
        }
        .button{
            p{
                font-size: 1.5rem;
            }
            display: flex;
            gap: 2rem;
            // background-color: transparent;
            button{
                background-color: transparent;
                border: none;
                i{
                    color: white;
                    background-color: black;
                    padding: 1rem;
                    border-radius: 50%;
                    border: 1px solid white;
                    background-color: #333333;
                    // backdrop-filter: blur(10px);
                    font-size: 1.2rem;
                }

            }

        }

    }


}
