
.second{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .upper{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        p{
            font-size: 1rem;
            font-family:"Roboto";
            color: #666664;
        }
        h2{
            font-size: 3rem;
            font-family:"Chillax";
            color: #fff;
            font-weight: 300;
        }
    }
    .bottom{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        p{

            font-size: 1rem;
            font-family:"Roboto";
            color: #666664;

        }
        h2{
            font-size: 3rem;
            font-family:"Chillax";
            color: #fff;
            font-weight: 300;
        }
    }

}
