.seveth{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .upper{
        height: 30%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:.5rem;
        }
    }
    .bottom{
        border-radius: .5rem;
        height:70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:2rem;

        padding: 2rem;
        background-color: #1e1e1e;

        .upper{
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap:1rem;

             p{
                font-size: 1rem;
                font-weight: 500;
                font-family:"Chillax";
                text-transform: uppercase;
                color: #9f9f9f;
                line-height: 1.2;
                text-transform: uppercase;
            }
            h2{
                font-size: 3rem;
                font-weight: 200;
                font-family:"Roboto";
                text-transform: uppercase;
                color: white;
                line-height: 1;
            }
        }
        .bottombutton{
             display: flex;
                align-items: center;
                gap: 1rem;
                button{
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid white;
                    padding: .8rem;
                    i{
                        color: white;
                    }

                }
                p{
                    color:white;
                    font-family: "Roboto";
                }

        }


    }


}
