*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #121212;
    max-width: 1600px;
    font-size: clamp(14px, 1vw, 16px);
    margin: auto;

}

::-webkit-scrollbar{
  display: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2');
}

@font-face {
    font-family: "Chillax";
    src: url('fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff');
}

//FILES

@import "first";
@import "second";
@import "third";
@import "fourth";
@import "fifth";
@import "sixth";
@import "seveth";
@import "eighth";
@import "last";

//RESPONSIVENESS
@media (min-width:900px) {
    .first{
        flex-direction: row;
        height: 100vh;
        width: 100;
        .imagecontainer,.studio{
            width: 100%;
            height: 100%;
        }
        .studio{
            padding: 3rem;
            p{
                font-size: 1.5rem;
            }
            .bottom{

                gap: 1.5rem;
                h1{
                    font-size: 4rem;
                }
                p{
                    width:80%;
                    font-size: 1rem;
                }

            }

        }
    }
    .second{
        flex-direction: row;
        justify-content: space-around;
        padding: 3rem;

    }
    .third{
        padding: 2rem;
        height: 100vh;
        width: 100%;
        flex-direction: row-reverse;
        .upper,.bottom{
            width: 50%;
            height: 100%;
        }


        .bottom{
            padding: 3rem;

            .vision{
                h2{
                    font-size: 3rem;
                }
            }
            .para
            {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            p{
                width: 50%;
                font-size: 1.5rem;
            }

        }
    }
    .fourth{
        padding: 2rem;
        height: 100vh;
        width: 100%;
        flex-direction: row;
        .upper,.bottom{
            width: 50%;
            height: 100%;
        }


        .bottom{
            padding: 3rem;

            .vision{
                h2{
                    font-size: 3rem;
                }
            }
            .para
            {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            p{
                width: 50%;
                font-size: 1.5rem;
            }

        }
    }
    .fifth{
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        h2{
            font-size: 3rem;
            font-weight: 300;
            font-family:"Chillax";
            text-transform: uppercase;
            color: white;
        }
        .right{

            display:flex;
            align-items: center;
            gap: 1rem;
            button{
                background-color: #1e1e1e;
                border-radius: 50%;
                border: 1px solid white;
                padding: .8rem;
                i{
                    color: white;
                }

            }
            p{
                font-family: "Roboto";
                color:white;
            }
        }
    }
    .sixth{
        height: 70%;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        .profile1,.profile2,.profile3{
            width: 50%;
            height: 100%;

            .upper{
                padding: 2rem;
            }
            .bottom{
                padding: 3rem;
                height: 20%;

               .box{
                    h2{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
               }
            }
        }
    }
    .seveth{
        height: 80%;
        flex-direction: row;
        padding: 2rem;
        .upper,.bottom{
            height: 100%;
            width: 50%;

        }

        .bottom{
            padding: 3rem;
            .upper{

                h2{
                    font-size: 3rem;
                    line-height: 1.2;
                }
            }
        }
    }
    .eighth{
        padding:2rem;
        height: 50%;
        .container{
            position: relative;

            .heading{
                h2{
                    font-size: 5rem;
                }
                display: flex;
                button{
                    position: absolute;
                    bottom: 5%;
                    right: 2%;

                    height: 3.5rem;
                    width: 20rem;
                    padding:0rem 3rem;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    gap: 2rem;
                }
            }

        }
    }
    .last{
        padding:2rem;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;

        .uppercontainer{
            grid-row:1/5;
            grid-column:1/2;
            height: 100%;
            width: 100%;
            padding: 3rem;
        }
        .middlecontainer{
            padding: 3rem;
            height: 100%;
            width: 100%;
            grid-row:1/4;
            grid-column:2/5;
            flex-direction: row;


            .c1,.c2,.c3{
                height: 100%;
                width: 33%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding: 2rem;

            }


        }
        .bottomContainer{
            grid-row:4/5;
            grid-column:2/5;
            height: 100%;
            width: 100%;
            padding: 3rem;
        }
    }

}
